<p>
  Name:
 <!-- <%= @user.full_name %> if is helper-->
 <%= full_name(@user) %>
</p>

<p>
  Email:
  <!--<% if @user.private_email %>
    Private
  <% else %>
    <%= @user.email %>
  <% end %>-->
  <%= @user_decorator.define_email %>

</p>

<p>
  Birthday:
  <!--<%= @user.birthday.strftime('%d - %m - %Y') %>-->
  <%= @user_decorator.birthday_format %>

</p>

<p>
  Followers:
  <!--<ul>
    <% @user.followers.each do |follower| %>
      <li><%= link_to follower.first_name + ' ' + follower.last_name, follower %></li>
    <% end %>
  </ul>-->
  <%= users_list(@user.followers) %>
</p>

<p>
  Following:
  <!--<ul>
    <% @user.following.each do |followed| %>
      <li><%= link_to followed.first_name + ' ' + followed.last_name, followed %></li>
    <% end %>
  </ul>-->
    <%= users_list(@user.following) %>
</p>

<p>
  Posts
  <dl>
    <% @user.posts.each do |post| %>
      <dt>Description:</dt>
      <dd><%= post.description %></dd>
      <dt>Likes:</dt>
      <dd><%= post.likes.count%></dd>
    <% end %>
  </dl>
</p>
